In [ ]:
# Calculations in R
# Results in "500"
573 - 74 + 1
# Results in "50"
25 * 2
# Results in "2"
10 / 5

In [ ]:
# Data types
print('Alberto')
print(32)
print('32')

In [ ]:
# Variables
name <- 'Alberto'
age <- 32

In [ ]:
# Vectors
phone <- c(34,627,084400)

In [ ]:
# Conditions
message <- "I change based on a condition."
if (TRUE) {
   message <- 'I execute this when true!'
   print(message)
} else {
   message <- 'I execute this when false!'
   print(message)
}

In [ ]:
# Comparison operators
56 >= 129
56 != 129

In [ ]:
# Logical operators
message <- 'Should I pack an umbrella?'
weather <- 'cloudy'
high_chance_of_rain <- TRUE
if (weather == 'cloudy' & 
high_chance_of_rain == TRUE) {
message = 'Pack umbrella!'
} else {
  message = 'No need for umbrella!'
}
print(message)

In [ ]:
# Functions
data <- c(120,22,22,31,15,120)
unique_vals <-unique(data)
print(unique_vals)
solution <- sqrt(49)
print(solution)
round_down <- floor(3.14)
round_up <- ceiling(3.14)
print(round_down)
print(round_up)

In [ ]:
# Importing libraries
library(dplyr)
library(readr)

In [ ]:
# Creating a csv file
name,	cake_flavor,	frosting_flavor,	topping
Red Velvet Cake,	chocolate,	cream cheese,	strawberries
Birthday Cake,	vanilla,	vanilla,	rainbow sprinkles
Carrot Cake,	carrot,	cream cheese,	almonds

In [ ]:
# Loading csv files
artists <- read_csv('artists.csv')
artists

In [ ]:
# Inspecting a data frame
artists
head(artists)
summary(artists)

In [ ]:
# Pipes in R
artists %>%
head()

In [ ]:
# Selecting specific columns
artist_groups <- artists %>%
select(group)
artist_groups 
group_info <- artists %>%
select(group, spotify_monthly_listeners, year_founded)
group_info

In [ ]:
# Excluding columns
df_cols_removed <- artists %>%
select(-genre, -spotify_monthly_listeners, -year_founded)
df_cols_removed

In [ ]:
# Filtering using logical operators
rock_groups <- artists %>%
filter(genre == 'Rock')
rock_groups
popular_rock_groups <- artists %>%
filter(genre == 'Rock' , spotify_monthly_listeners > 20000000)
popular_rock_groups

In [ ]:
# Filtering with OR or NOT
korea_or_before_2000 <- artists %>%
filter(country == 'South Korea' | year_founded < 2000)
korea_or_before_2000
not_rock_groups <- artists %>%
filter(!(genre == 'Rock'))
not_rock_groups

In [ ]:
# Arranging rows
group_asc <- artists %>%
arrange(group)
group_asc
youtube_desc <- artists %>%
arrange(desc(youtube_subscribers))
youtube_desc

In [ ]:
# Review
artists <- artists %>%
select(-country, -year_founded, -albums) %>%
filter(spotify_monthly_listeners > 20000000, genre != 'Hip Hop') %>%
arrange(desc(youtube_subscribers))
head(artists)

In [ ]:
# Add new columns
dogs <- dogs %>%
mutate(avg_height = (height_low_inches + height_high_inches) / 2)
head(dogs)

In [ ]:
# Adding multiple columns
dogs <- dogs %>%
  mutate(avg_height = (height_low_inches + height_high_inches)/2, avg_weight = (weight_low_lbs + weight_high_lbs)/2, rank_change_13_to_16 = (rank_2016 - rank_2013))
head(dogs)

In [ ]:
# Adding columns while droping the non selected ones
dogs <- dogs %>%
  transmute(breed = breed, avg_height = (height_low_inches + height_high_inches)/2,
         avg_weight = (weight_low_lbs + weight_high_lbs)/2,
        rank_change_13_to_16 = rank_2016 - rank_2013)

In [ ]:
# add columns and remove existing columns
dogs <- dogs %>%
  transmute(breed = breed,
            avg_height = (height_low_inches + height_high_inches)/2,
         avg_weight = (weight_low_lbs + weight_high_lbs)/2,
        rank_change_13_to_16 = rank_2016 - rank_2013)
```
```{r}
# check column names
original_col_names <- colnames(dogs)
original_col_names
```
```{r}
# rename data frame columns
dogs <- dogs %>%
rename(avg_height_inches = avg_height,
avg_weight_lbs = avg_weight, 
popularity_change_13_to_16 = rank_change_13_to_16)

In [ ]:
# Review
dogs <- dogs %>%
transmute(breed = breed, height_average_feet = ((height_low_inches +
height_high_inches)/2)/12, popularity_change_15_to_16 = (rank_2016 - rank_2015)) %>%
arrange(desc(popularity_change_15_to_16))
head(dogs)

In [ ]:
# list files
student_files <- list.files(pattern = 'exams_.*csv')
print(student_files)
```

```{r message=FALSE}
# read files
df_list <- lapply(student_files,read_csv)
```

```{r}
# concatenate data frames
students <- bind_rows(df_list)

```

```{r}
# number of rows in students
nrow_students <- nrow(students)

In [ ]:
# gather columns
students <- students %>%
gather('fractions', 'probability', key = 'exam', value = 'score')
head(students)

```

```{r}
# updated column names
gathered_col_names <- colnames(students)
print(gathered_col_names)

```

```{r}
# unique value counts of exam
exam_counts <- students %>%
count(exam)
print(exam_counts)

In [ ]:
# drop id column
students <- students %>%
select(-id)
head(students)

```

```{r}
# find and count duplicated rows
duplicates <- students %>%
duplicated() %>%
table()
print(duplicates)

```

```{r}
# remove duplicated rows, keep only unique rows
students <- students %>%
distinct()

```

```{r}
# find and count duplicated rows in updated data frame
updated_duplicates <- students %>%
duplicated() %>%
table()
print(updated_duplicates)

In [ ]:
# print columns of students
print(colnames(students))
```

```{r}
# view head of students
head(students)
```

```{r}
# add gender and age columns
students <- students %>%
mutate(gender = str_sub(gender_age,1,1),
age = str_sub(gender_age,2))
head(students)

```

```{r}
# drop gender_age column
students <- students %>%
select(-gender_age)
head(students)

```

In [ ]:
# separate the full_name column
students <- students %>%
separate(full_name,c('first_name', 'last_name'),' ', extra = 'merge')
head(students)

In [ ]:
# print structure of students
print(str(students))
```

```{r}
# mean of age column
students %>% 
  summarise(mean_score = mean(score))

In [ ]:
# remove % from score column
students <- students %>%
mutate(score = gsub('\\%','',score))
students

```

```{r}
# change score column to numeric
students <- students %>%
mutate(score = as.numeric(score))
students

In [ ]:
# update age column
students <- students %>%
mutate(age = as.numeric(age))

In [ ]:
#Define variable and print it
viz <- ggplot(data=movies)
viz

In [ ]:
#Create aesthetic mappings at the canvas level
viz <- ggplot(data=movies, aes(x=imdbRating,y=nrOfWins))
viz

In [ ]:
# Add a geom point layer
viz <- ggplot(data=movies, aes(x=imdbRating, y=nrOfWins)) + geom_point()

# Prints the plot
viz
```

In [ ]:
# Add manual alpha aesthetic mapping
viz <- ggplot(data=movies, aes(x=imdbRating, y=nrOfWins)) + geom_point(aes(color=nrOfGenre)) 

# Prints the plot
viz

In [ ]:
# Add manual alpha aesthetic mapping
viz <- ggplot(data=movies, aes(x=imdbRating, y=nrOfWins)) +
       geom_point(aes(color=nrOfGenre), alpha=0.5) 

# Prints the plot
viz

In [ ]:
# Add labels as specified
viz <- ggplot(data=movies, aes(x=imdbRating, y=nrOfWins)) +
       geom_point(aes(color=nrOfGenre), alpha=0.5) +
       labs(title="Movie Ratings Vs Award Wins", 
       subtitle="From IMDB dataset", x="Movie Rating",y= "Number of Award Wins", color = "Number of Genre")

# Prints the plot
viz

In [ ]:
#Create a bar chart
bar <- ggplot(data=mpg, aes(x =class)) + geom_bar(aes(fill=class)) + labs(title="Types of Vehicles", subtitle="From fuel economy data for popular car models (1999-2008)")
bar

In [ ]:
# load order data
orders <- read_csv("orders.csv")

# inspect orders here:
head(orders,10)
```

```{r}
# define most_expensive here:
most_expensive <- orders %>%
summarize(max(price,na.rm=TRUE))
most_expensive

In [ ]:
# define pricey_shoes here:
pricey_shoes <- orders %>%
group_by(shoe_type) %>%
summarize(max_price=max(price, na.rm=TRUE))
pricey_shoes

In [ ]:
# define shoe_counts here:
shoe_counts <- orders %>%
  group_by(shoe_type, shoe_color) %>%
  summarize(count = n())
shoe_counts
```

```{r}
# define shoe_prices here:
shoe_prices <- orders %>%
  group_by(shoe_type, shoe_material) %>%
  summarize(mean_price = mean(price, na.rm = TRUE))
shoe_prices

In [ ]:
# define most_pop_orders here:
most_pop_orders <- orders %>%
group_by(shoe_type) %>%
filter(n() > 16)
most_pop_orders

In [ ]:
# define diff_from_mean here:
diff_from_mean <- orders %>%
group_by(shoe_type) %>%
mutate(diff_from_shoe_type_mean = price - mean(
  price, na.rm = TRUE))
  diff_from_mean

In [ ]:
# define average_price here:
average_price <- orders %>%
summarize(mean_price = mean(price, na.rm = TRUE))
average_price

```

```{r}
# define click_source here:
click_source <- page_visits %>%
group_by(utm_source) %>%
summarize(count=n())
click_source

```

```{r}
# define click_source_by_month here:
click_source_by_month <- page_visits %>%
group_by(utm_source,month) %>%
summarize(count=n())
click_source_by_month

```